{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Über mich</h1>
          <span class="subheading">Was ich mache...</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

        <p>
          Ich bin in der schönen Schweiz zu Hause. Habe 2 erwachsene Söhne, habe Wirtschaftsinformatik studiert und liebe
          es zu programmieren.
          Ich arbeite in einem Büro als Assistentin der Geschäftsführung.
          Neuerdings habe ich wieder das Programmieren entdeckt und ich liebe die neuen Technologien.
        </p>
        <p>
          Ich mag Wärme und Strand. Dort fühle ich mich wohl.
        </p>
        <p>
          Meine Passion ist es wenn immer möglich zu reisen. Ich liebe es neue
          Städte, Länder, Leute und Kulturen kennen zu lernen.
          Auch liebe ich Essen, ich probiere fast alles was für mich essbar aussieht :)
          Hier möchte ich davon erzählen.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
